@charset "UTF-8";
/**
 * -- TODO STYLES
 */
body {
    margin-top: 40px;
}

.row {
    padding: 1em 0 .5em;
}

.fa-2x {
    font-size: 2em !important;
}

.fa-3x {
    font-size: 3em !important;
}

.select-dropdown li img {
    height: 30px;
    width: 30px;
    margin: 5px 5px;
    float: right;
}

#header {
    margin-bottom: 5px;
    padding: 0;
}

#facebook-container {
    max-width: 600px;
}

.dropdown-content li {
    min-height: 25px;
    line-height: 1rem;
}

.dropdown-content li>a, .dropdown-content li>span {
    padding: 4px 2px;
}

#task-add-icon {
    margin-right: 10px;
}
