@charset "UTF-8";
/**
 * -- TODO STYLES
 */
.submit-button {
    padding: 20px;
    float: right;
}

.secondary-content-trash {
    float: right;
    color: #EF5350;
}

.task-color {
    width: 20px;
    margin: 3px 5px 0 0;
}
.task-editions {
    padding-right: 8px;
}

.select-wrapper {
    overflow: scroll;
}

#taskEdit {
    width: 90%;
}

.task-done {
    text-decoration: line-through;
}

#todo-list li.collection-item a {
    display: none;
}

#todo-list li.collection-item:hover a {
    display: initial;
}
