# systemd config file
# /lib/systemd/system/todoapp.service
# reload daemon: $ sudo systemctl daemon-reload
# start service: $ sudo systemctl start todoapp.service

[Unit]
Description=gunicorn application server running todo application

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/github.com/johncoleman83/todo-list
ExecStart=/usr/local/bin/gunicorn --bind 127.0.0.1:8003 wsgi.wsgi_todo:todo.app
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10
Environment=APP_HOST=localhost
Environment=APP_PORT=8003
Environment=TODO_DB_PWD=***************
Environment=TODO_DB_HOST=localhost
Environment=TODO_MYSQL_DB=todo_dev_db
Environment=TODO_USER=todo_dev

[Install]
WantedBy=multi-user.target
